// https://mycolor.space/?hex=%232F2B45&sub=1
$background: #2f2b45;
$background-higher: #6d4265;
$background-higher-higher: #b15b71;
$background-highlight: #e6826b;
$background-inverse: #f9f871;
$text-color: #f4ecff;
$interactive-color: #00c89a;

$shadow-color: #000000;
$shadow-offset: 0.1rem;
$shadow-width: 0.2rem;
$border-radius: 0.5rem;